<form [formGroup]="loginForm" (ngSubmit)="submitForm()">
  <!-- Email Input -->
  <div class="mb-4">
    <p-iftalabel>
      <input pInputText
             class="w-full h-13 "
             size="small"
             type="email"
             formControlName="username"
             id="username"
             placeholder="Enter your email..."
             [ngClass]="{'ng-invalid ng-dirty': loginForm.get('username')?.invalid && loginForm.get('username')?.touched}"
      />
      <label for="username" class="!font-bold">Username or email</label>
    </p-iftalabel>

    @if (loginForm.get('username')?.invalid && loginForm.get('username')?.touched) {
      <small class="text-red-500">Please enter a valid email!</small>
    }
  </div>

  <!-- Password Input -->
  <div class="mb-4">
    <p-iftalabel>
      <p-password [feedback]="false"
                  size="small"
                  [toggleMask]="true"
                  styleClass="w-full"
                  inputStyleClass="w-full !h-13"
                  formControlName="password"
                  id="password"
                  placeholder="Enter your password..."
                  [ngClass]="{'ng-invalid ng-dirty' : loginForm.get('password')?.invalid && loginForm.get('password')?.touched}"
      />
      <label for="password" class="!font-bold">Password</label>
    </p-iftalabel>

    @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
      <small class="text-red-500">
        @if (loginForm.get('password')?.errors?.['required']) {
          Password cannot be blank!
        } @else if (loginForm.get('password')?.errors?.['minlength']) {
          Password must be at least 6 characters!
        }
      </small>
    }
  </div>

  <!-- Submit Button -->
  <button type="submit"
          class="w-full bg-[#ca4f44] text-white py-2 rounded-lg font-semibold cursor-pointer
                active:scale-95 transition transform duration-150"
  >
    Log in
  </button>
</form>
