<div class="flex md:flex-row w-full max-w-6xl">
  <!-- Left Side: Form -->
  <div class="flex-1 w-full max-w-md bg-white rounded-lg">
    <h2 class="font-bold mt-4 text-3xl mb-10">Log in</h2>
    <div class="flex flex-col  w-full  mb-10 gap-y-3">
      <app-social-button
        label="Continue with Google"
        icon="pi pi-google"
      />
      <app-social-button
        label="Continue with Facebook"
        icon="pi pi-facebook"
      />
      <app-social-button
        label="Continue with Apple"
        icon="pi pi-apple"
      />
    </div>

    <app-login-form (formSubmitted)="submitForm($event)"/>

    <a routerLink="/auth/forgot-password"
       class="block text-sm text-[#ca4f44] underline hover:text-[#a83e36] transition-colors duration-20 mt-4">Forgot
      your password</a>

    <small class="block text-sm  mt-3.5">
      By continuing with Google, Apple, or Email, you agree to Todoist’s
      <a class="text-[#ca4f44] underline hover:text-[#a83e36] cursor-pointer">Terms of Service</a> and
      <a class="text-[#ca4f44] underline hover:text-[#a83e36] cursor-pointer">Privacy Policy</a>.
    </small>

    <small class="block text-sm mt-3.5 text-center border-t border-gray-300/50 pt-4">
      Don’t have an account?
      <a routerLink="/auth/register" class="text-[#ca4f44] underline hover:text-[#a83e36] cursor-pointer">Sign up</a>
    </small>

  </div>


  <!-- Right Side: Small Image -->
  <div class="hidden sm:flex flex-1 sm:w-1/3 justify-center items-center">
    <p-image
      src="https://todoist.b-cdn.net/assets/images/44245fc51c3e2ab05ee6d92c13e2e08a.png"
      alt="Illustration"
      class="max-w-full w-auto mx-[72px]" />
  </div>

</div>

<p-toast (onClose)="navigate()"/>


